    <br>
        <center>
            <h3 class="card-title">Générateur de charisme.</h3>
        </center>
    <br>
        <center>
            <p class="mb-2 text-muted" style="width: 750px;">Protège-toi grâce au bouton vert ci-dessous pour générer une "punchline" mémorable.
            Cette phrase parfaitement prononcée, fera furie les horribles personnes qui te veulent du mal.</p>
        </center>
    <br>